html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.Section {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 600px;
  flex-wrap: wrap;
  border-bottom: 3px solid gray;
  position: relative;
  margin: 3%;
}

.Header {
  width: 100%;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 500;
  position: absolute;
  top: 30px;
  line-height: 0;
}

.Home-Margin {
  margin: 0;
  padding: 0;
}

.lines {
  position: absolute;
  top: 135px;
  width: 100%;
}

hr {
  width: 80%;
  height: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: gray;
}

.line-2 {
  width: 60%;
}