#Home-Info {
  position: relative;
}

.Hello-Text {
  position: absolute;
  top: -30px;
  font-size: 1.8rem;
}

.Hello-Name {
  font-size: 3.8rem;
  margin-bottom: 2px;
  font-weight: 500;
}

.Description {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.email, .GitHub, .LinkedIn, .Twitter {
  width: 40px;
  margin-right: 15px;
  transition: width 0.15s;
}

.email:hover, .GitHub:hover, .LinkedIn:hover, .Twitter:hover {
  cursor: pointer;
  width: 35px;
}