#About-Me-Page {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#About-Me-Title {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  margin-top: 10px;
}

#About-Me-Description {
  align-self: center;
  font-size: 1.6rem;
  letter-spacing: 3px;
  line-height: 35px;
  max-width: 700px;
  text-align: center;
}

@media (min-width: 439px) {
  #About-Me-Page {
    height: 475px;
  }
}

@media (min-width: 570px) {
  #About-Me-Page {
    height: 425px;
  }
}

@media (min-width: 730px) {
  #About-Me-Page {
    height: 400px;
  }
}