#Contact-Page {
  height: 1500px;
  padding: 0 10px;
}

#Contact-Box, 
#Contact-Page,
#Contact-Message,
#Contact-Text-Boxes,
#Name-And-Email,
#Contact-Button-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#Contact-Box {
  width: 100%;
  max-width: 900px;
  height: 1000px;
}

#Contact-Message {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 30px;
  flex-basis: 45%;
}

#Contact-Text-Boxes {
  width: 100%;
  flex-basis: 90%;
  padding-top: 10px;
}

#Name-And-Email {
  width: 100%;
  flex-basis: 30%;
  background-color: none;
}

.Text-Box {
  background-color: #2b2b2b;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.Text-Box::placeholder {
  font-size: 1.1rem;
}

.Text-Box input {
  padding: 15px;
}

.Text-Box textarea {
  font-family: sans-serif;
  min-height: 150px;
  max-height: 400px;
  padding: 15px;
}

.Span-Container {
  position: relative;
}

.Span-Container span {
  position: absolute;
  right: 10px;
  bottom: 17px;
  font-size: 0.9rem;
  font-family: sans-serif;
  color: rgb(255, 81, 81);
  z-index: 20;
}

.Span-Container span i {
  color: seagreen;
}

#Message-Container { 
  min-height: 150px;
  max-height: 400px; 
}

#Contact-Button-Container {
  flex-basis: 10%;
}

#Contact-Button {
  font-size: 1.3rem;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 4px;
  color: #ECEBF3;
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #49c5b6;
  border-radius: 5px;
  transition: box-shadow 0.4s, transform 0.3s;
  margin: 20px 0;
}

#Contact-Button:hover {
  cursor: pointer;
  box-shadow: inset 200px 0 0 0 #49c5b6;
}

#Contact-Button:active {
  transform: scale(1.1);
}

#Submit-Error {
  color: rgb(255, 81, 81);
  font-size: 1rem;
  letter-spacing: 3px;
}

#Contact-Information {
  width: 100%;
  flex-basis: 20%;
}

@media (min-width: 576px) {
  #Contact-Message {
    flex-basis: 40%;
  }

  #Name-And-Email {
    flex-direction: row;
    gap: 10px;
    flex-basis: 15%;
  }
}