#About-Me-Page {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#About-Me-Title {
  font-family: 'Bebas Neue', sans-serif;
}

#About-Me-Description {
  align-self: center;
  position: absolute;
  top: 140px;
  font-size: 1.6rem;
  letter-spacing: 3px;
  line-height: 35px;
  max-width: 700px;
  text-align: center;
}